/* For News Component */

.news-main-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00aaff;
  margin-bottom: 20px;
  text-align: center;
}

.news-container {
  font-family: sans-serif;
  padding: 40px;
}

.news-card {
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-title {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.news-summary {
  font-size: 1rem;
  color: black;
  margin: 10px 0;
}

.news-button {
  background-color: #00aaff;
  color: white;
  font-size: 1.2rem;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.news-button:hover {
  background-color: #3A4A5B;
}