body{
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 

}